*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "frag";
    src: url(font/Fragmentcore.otf);
}
@font-face{
    font-family: "Minecraftia-Regular";
    src:url(font/Minecraftia-Regular.ttf);
}

.frag{
    font-family: "frag";
}
body{
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #003366 0%, #7827ca 100%);
}
nav{
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgb(200, 200, 200);
    border-radius: 0 0 1em 0;
}
#nav, #nav1, #nav2, #nav3{
    border: none;
    font-size: 16px;
    background-color: rgb(200, 200, 200);
    font-family: "frag";
    border-right: 0.1em solid white;
    padding: 0.6em 1em;
    cursor: pointer;
}
#nav:hover, #nav1:hover, #nav2:hover, #nav3:hover{
    background-color: rgb(255, 255, 255);
}
:focus{
    outline: none;
}
#pres, #skills{
    padding: 5em 0 10em 0;
    display: flex;
    justify-content: space-around;
}
#name, #under{
    font-family: "Minecraftia-Regular";
    font-size: 25px;
}
#under{ /* create blink effect */
    animation: blink-animation .9s steps(2, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
.round{
    border-radius: 20% 30% 20% 80%;
    border: 1px solid #fff;
}
.w45{
    width: 45%;
}
.center{
    text-align: center;
  }
  h2{
      font-size: 25px;
  }
  h3{
      padding: .5em 0;
  }
.desc{ /* create pop effect */
    padding-top: .5em;
    color: rgba(128, 128, 128, 0);
    font-size: 18px;
    animation: pop 7s;
    animation-fill-mode: forwards;
}
@keyframes pop {
    70%{
        color: rgba(128, 128, 128, 0);
    }
    100%{
      color: rgba(128, 128, 128, 1);
    }
  }
@media screen and (max-width: 421px){
    nav{
        position: static;
        display: flex;
        flex-direction: column;
    }
    #nav{
        display: none;
    }
    #nav1, #nav2{
        border-bottom: 0.1em solid white;
    }
    #pres{
        flex-direction: column;
        padding: 0.5em 0 0 0.5em;
    }
    h2{
        font-size: 20px;
    }
    .w40{
        margin: auto;
        width: 90%;
    }
}