*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "frag";
    src: url(font/Fragmentcore.otf);
}
@font-face{
    font-family: "Minecraftia-Regular";
    src:url(font/Minecraftia-Regular.ttf);
}

.frag{
    font-family: "frag";
}
body{
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #003366 0%, #7827ca 100%);
}
nav{
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    background-color: #300050;
    border-radius: 0 0 1em 0;
}
#nav, #nav1, #nav2, #nav3{
    border: none;
    font-size: 16px;
    background-color: #300050;
    font-family: "frag";
    color: rgb(255, 255, 255);
    border-right: 0.1em solid white;
    padding: 0.6em 1em;
    cursor: pointer;
}
#nav:hover, #nav1:hover, #nav2:hover, #nav3:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
:focus{
    outline: none;
}
#pres, #skills{
    padding-top: 10em;
    display: flex;
    justify-content: space-around;
}
#name, #under{
    font-family: "Minecraftia-Regular";
    font-size: 25px;
}
#under{ /* create blink effect */
    animation: blink-animation .9s steps(2, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  .rounded{
      border-radius: 50%;
  }
.blur{
    -webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.blur:hover{
    -webkit-filter: blur(0);
	filter: blur(0);
}
.black-white{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.w45{
    width: 45%;
}
.center{
    text-align: center;
  }
  h2{
      font-size: 25px;
  }
  h3{
      padding: .5em 0;
  }
.desc{ /* create pop effect */
    padding-top: .5em;
    color: rgba(128, 128, 128, 0);
    font-size: 18px;
    animation: pop 7s;
    animation-fill-mode: forwards;
}
@keyframes pop {
    70%{
        color: rgba(128, 128, 128, 0);
    }
    100%{
      color: rgba(128, 128, 128, 1);
    }
  }

#suivant{
    position: relative;
    margin-top: 5em;
    border: none;
    background: none;
    cursor: pointer;
    animation: down 1s infinite linear alternate-reverse;
}
@keyframes down {
    0%{
        top: 0;
    }
    100%{
        top: 12px;
    }
}
@media screen and (max-width: 425px){
    nav{
        position: static;
        display: flex;
        flex-direction: column;
    }
    #nav{
        display: none;
    }
    #nav1, #nav2{
        border-bottom: 0.1em solid white;
    }
    #pres{
        flex-direction: column;
        padding: 1em 0 ;
    }
    h2{
        font-size: 20px;
    }
    .w45{
        margin: auto;
        width: 90%;
    }
}